<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Colorful</key>
	<dict>
		<key>0</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>1</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>2</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>3</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>4</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>5</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>6</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<string></string>
			<string></string>
		</array>
		<key>7</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>8</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>9</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>Black</key>
	<dict>
		<key>0</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>1</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>2</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>3</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>4</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>5</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>6</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>7</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>8</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>9</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
</dict>
</plist>
