<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlivcLicenseFile</key>
	<string>AliVideoCert-com_factory_fmw-20230906221056.crt</string>
	<key>AlivcLicenseKey</key>
	<string>9PSBMoK3tuqJ1qX0z09b6c53d6c5741e59f617f1f95a07c73</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.fmw.open</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fmw</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV4</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkdataline</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibosso</string>
		<string>sinaweibohdsso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>douyinopensdk</string>
		<string>douyinsharesdk</string>
		<string>snssdk1128</string>
		<string>weibosdk3.3</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Gotham-XLight.otf</string>
		<string>Gotham-Thin.otf</string>
		<string>Gotham-Black.otf</string>
		<string>Gotham-Book.otf</string>
		<string>Gotham-Bold.otf</string>
		<string>Gotham-Ultra.otf</string>
		<string>Gotham-Light.otf</string>
		<string>Gotham-Medium.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
